<%= stylesheet_link_tag "mobile" if browser.device.mobile? %>
<h1 align ="center">
     <p1>Welcome to Our Wedding</p1>
</h1>
<nav class="mobile-menu">
<label for="show-menu" class="show-menu"><span>Menu</span><div class="lines"></div></label>
	<input type="checkbox" id="show-menu">
		<ul id="menu">
		<li><a href="/wedding/wedding">Wedding</a></li>
		<li><a href="/wedding/hotels">Hotels</a></li>
		<li><a href="/wedding/registry">Registry</a></li>
		<li><a href="/wedding/marryoke">Marryoke</a></li>
		<li><a href="/wedding/contact">Contact</a></li>
	</ul>
</nav>
<br>
<br>
<img class= "bkgrnd" src="/assets/WeddingBackground.jpg">
